html {
	font-size: 22px;
}

*{
	box-sizing: border-box;
}

body {
	background-color: #333;
	color: whitesmoke;
	min-height: 100vh;
	max-width: 800px;
	margin: 0 auto;
	padding: 1rem;
	border-left: 1px solid whitesmoke;
	border-right: 1px solid whitesmoke;
}

a {
	color: aliceblue;
}

a:visited {
	color: lightgray;
}

a:hover,
a:active {
	color: #eee;
}

.validation-message{
	display: block;
	padding-top: 0.4em;
}
