@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "Roboto", serif;
	font-size: 1.2rem
}

a {
	text-decoration: none;
	color: whitesmoke;
}

.header {
	background: #1d1e20;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.menu {
	display: flex;
}

.menu li {
	margin-left: 10px;
}

.menu li a {
	display: block;
	padding: 10px;
}

th,
td,
caption {
	border: 1px solid #333;
	font-family: 'Courier New', Courier, monospace;
	border-collapse: separate;
	padding: 0.5rem;
}
