@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	padding: 10%;
	font-size: 2rem;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	cursor: pointer;  
	/* not-allowed - aparece um simbolo de negação */
	color: hsl(240, 100%, 27%);
}

a:visited {
	/*a:visited - se a link ja foi visualizador ele ficar com essa configuração*/
	color: blueviolet;
}

a:hover, a:focus {
	color: hsl(210, 100%, 56%);
	/* opacity: 0.6; /* Transparencia */ 
}

a:active {
	/*a:active - se esta ativado isso e você clica e segura, ai ficar com a configuração*/
	color: red;
}