html {
	font-size: 22px;
}

body {
	background-color: #333;
	color: whitesmoke;
}

a {
	color: aliceblue;
}

a:visited {
	color: lightgray;
}

a:hover,
a:active {
	color: #eee;
}

.validation-message{
	display: block;
	padding-top: 0.4em;
}
