@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 5% 10%;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
}

ol {
    /* list-style-type - colocar o editor da lista de e numerica ou alfabeto */
    list-style-type: lower-alpha;
    padding: 0;
}

ul {
    list-style-type: square;
    text-align: center;
    list-style-position: outside;
    color: darkblue;
    line-height: 1.6;
    list-style-image: url('../image/checkmark.png');
    /* list-style: square url('../image/checkmark.png') outside; */
}

ul li:nth-child(even) {
    /* (nome):nth-child(qual elemento) -- Configuração especifica para um elemento */
    color: red;
}

/* 
ul ::marker {
    / {::marker - Selecionar a caixa de marcação de um item de lista} /
    color: red;
    font-family: fantasy;
    font-size: 1em;
    content: "Onaly $5 >> ";
} */