html{
	font-size: 22px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

main {
	font-family: monospace;
}

h1,
h2 {
	color: darkblue;
}

p {
	color: purple;
}

.highlight {
	text-transform: uppercase;
	background-color: gold;
}

.gray {
	color: gray;
}

#second {
	font-style: italic;
}
